:root {
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.ratio-container {
  display: flex;
}

.inputs {
  width: 10em;
  height: 6em;
  margin: 2em;
  font-size: 20px;
}

.ratio-inputs {
  width: 5em;
  height: 6em;
  margin: 2em;
  font-size: 20px;
}
