:root {
  line-height: 1.2;
  font-size: 16px;
  color-scheme: light dark;
  color: #6f4e37;
  background-color: #f5f5dc;
  width: 40em;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em;
}

.container {
  text-align: center;
}

.ratio-container {
  display: flex;
  justify-content: center;
}

.inputs {
  width: 10em;
  height: 6em;
  margin: 2em;
  font-size: 20px;
  text-align: center;
}

.topInputContainer {
  display: flex;
  justify-content: center;
}

.ratio-inputs {
  width: 10em;
  height: 6em;
  margin: 2em;
  font-size: 20px;
  text-align: center;
}

button {
  justify-content: center;
}

button:hover {
  background-color: #d4af37;
}
