:root {
  line-height: 1.2;
  font-size: 16px;
  /* color-scheme: light dark; */
  color: #6f4e37;
  background-color: #f5f5dc;
  margin: 0 auto;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2em; */
}

.container {
  text-align: center;
}

.main-container {
  width: 80vw;
}

/* .ratio-container {
  display: flex;
  justify-content: center;
} */

input {
  width: 5em;
  height: 5em;
  margin: 2em;
  font-size: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: row;
}

.topInputContainer {
  display: flex;
  justify-content: center;
}

.ratio-container {
  display: flex;
  /* justify-content: center; */
}

button {
  justify-content: center;
  height: 4em;
}

button:hover {
  background-color: #d4af37;
}
